body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: white;
}

.setup-container, .home-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #1E90FF;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1C86EE;
}

.game-icon {
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}

.game-icon img {
    width: 100px;
    height: 100px;
}

#game-iframe-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-iframe {
    width: 80%;
    height: 80%;
}

#close-game {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: red;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
}
